@mixin pos($var){position: $var;}
.pos-s{position:static;}
.pos-a{position:absolute;}
.pos-r{position:relative;}
.pos-f{position:fixed;}
@mixin t($top){top: $top;}
.t-a{top:auto;}
@mixin r($right){right: $right;}
.r-a{right:auto;}
@mixin b($bottom){bottom: $bottom;}
.b-a{bottom:auto;}
@mixin l($left){left: $left;}
.l-a{left:auto;}
@mixin z($var){z-index:$var;}
.z-a{z-index:auto;}
@mixin fl($var){float:$var;}
.fl-n{float:none;}
.fl-l{float:left;}
.fl-r{float:right;}
@mixin cl($dist){clear: $dist;}
.cl-n{clear:none;}
.cl-l{clear:left;}
.cl-r{clear:right;}
.cl-b{clear:both;}
@mixin d($dist){display: $dist;}
.d-n{display:none;}
.d-b{display:block;}
.d-i{display:inline;}
.d-ib{display:inline-block;}
.d-mib{display:-moz-inline-box;}
.d-mis{display:-moz-inline-stack;}
.d-li{display:list-item;}
.d-ri{display:run-in;}
.d-cp{display:compact;}
.d-tb{display:table;}
.d-itb{display:inline-table;}
.d-tbcp{display:table-caption;}
.d-tbcl{display:table-column;}
.d-tbclg{display:table-column-group;}
.d-tbhg{display:table-header-group;}
.d-tbfg{display:table-footer-group;}
.d-tbr{display:table-row;}
.d-tbrg{display:table-row-group;}
.d-tbc{display:table-cell;}
@mixin v($var){visibility: $var;}
.v-v{visibility:visible;}
.v-h{visibility:hidden;}
.v-c{visibility:collapse;}
@mixin ov($var){overflow: $var;}
.ov-v{overflow:visible;}
.ov-h{overflow:hidden;}
.ov-s{overflow:scroll;}
.ov-a{overflow:auto;}
@mixin ovx($var){overflow-x:$var;}
.ovx-v{overflow-x:visible;}
.ovx-h{overflow-x:hidden;}
.ovx-s{overflow-x:scroll;}
.ovx-a{overflow-x:auto;}
@mixin ovy($var){overflow-y:$var;}
.ovy-v{overflow-y:visible;}
.ovy-h{overflow-y:hidden;}
.ovy-s{overflow-y:scroll;}
.ovy-a{overflow-y:auto;}
@mixin ovs($var){overflow-style:$var;}
.ovs-a{overflow-style:auto;}
.ovs-s{overflow-style:scrollbar;}
.ovs-p{overflow-style:panner;}
.ovs-m{overflow-style:move;}
.ovs-mq{overflow-style:marquee;}
.zoo{zoom:1;}
@mixin cp($var){clip: $var;}
.cp-a{clip:auto;}
.cp-r{clip:rect(0000);}
@mixin bxz($var){box-sizing: $var;}
.bxz-cb{box-sizing:content-box;}
.bxz-bb{box-sizing:border-box;}
@mixin bxsh($var){box-shadow: $var;}
.bxsh-n{box-shadow:none;}
.bxsh_{box-shadow: 0 0 0 #000;}
@mixin bxsh-w($var){-webkit-box-shadow:$var;}
.bxsh-w_{-webkit-box-shadow: 0 0 0 #000;}
@mixin bxsh-m($var){-moz-box-shadow: $var;}
@mixin bxsh-m_($var){-moz-box-shadow: $var;}
@mixin m($dist){margin: $dist;}
.m-a{margin:auto;}
.m-0{margin: 0;}
.m-2{margin: 0 0;}
.m-3{margin: 0 0 0;}
.m-4{margin: 0 0 0 0;}
@mixin mt($top){margin-top: $top;}
.mt-a{margin-top:auto;}
@mixin mr($right){margin-right: $right;}
.mr-a{margin-right:auto;}
@mixin mb($bottom){margin-bottom: $bottom;}
.mb-a{margin-bottom:auto;}
@mixin ml($left){margin-left: $left;}
.ml-a{margin-left:auto;}
@mixin p($dist){padding: $dist;}
.p-0{padding: 0;}
.p-2{padding: 0 0;}
.p-3{padding: 0 0 0;}
.p-4{padding: 0 0 0 0;}
@mixin p2($top_and_bottom, $right_and_left){
  padding: $top_and_bottom $right_and_left;
}
@mixin p3($top, $right_and_left, $left){
  padding: $top $right_and_left $left;
}
@mixin p4($top, $right, $bottom, $left){
  padding: $top $right $bottom $left;
}
@mixin pt($top){padding-top: $top;}
@mixin pr($right){padding-right: $right;}
@mixin pb($bottom){padding-bottom: $bottom;}
@mixin pl($left){padding-left: $left;}
@mixin w($width){width: $width;}
.w-a{width:auto;}
@mixin h($height){height: $height;}
.h-a{height:auto;}
@mixin maw($width){max-width: $width;}
.maw-n{max-width:none;}
@mixin mah($height){max-height: $height;}
.mah-n{max-height:none;}
@mixin miw($width){min-width: $width;}
@mixin mih($height){min-height: $height;}
@mixin o($width){outline: $width;}
.o-n{outline:none;}
.o_{outline: 1px solid #000;}
@mixin oo($var){outline-offset: $var;}
@mixin ow($var){outline-width: $var;}
@mixin os($var){outline-style: $var;}
.oc{outline-color:#000;}
@mixin oc($var){outline-color: $var;}
.oc-i{outline-color:invert;}
@mixin bd($dist){border: $dist;}
.bd-n{border:none;}
.bd_{border:1px solid #000;}
@mixin bdbk($var){border-break:$var;}
.bdbk-c{border-break:close;}
@mixin bdcl($var){border-collapse:$var;}
.bdcl-c{border-collapse:collapse;}
.bdcl-s{border-collapse:separate;}
@mixin bdc($color){border-color: $color;}
@mixin bdi($image){border-image: $image;}
.bdi-n{border-image:none;}
/*.bdi-+{border-image:url() 0 repeat;}*/
@mixin bdi-w($var){-webkit-border-image:$var;}
/*@mixin .bdi-w+{-webkit-border-image:url()0repeat;}*/
@mixin bdi-m($var){-moz-border-image: $var;}
/*.bdi-m+{-moz-border-image:url()0repeat;}*/
@mixin bdti($var){border-top-image:$var;}
.bdti-n{border-top-image:none;}
@mixin bdri($var){border-right-image:$var;}
.bdri-n{border-right-image:none;}
@mixin bdbi($var){border-bottom-image:$var;}
.bdbi-n{border-bottom-image:none;}
@mixin bdli($var){border-left-image:$var;}
.bdli-n{border-left-image:none;}
@mixin bdci($var){border-corner-image:$var;}
.bdci-n{border-corner-image:none;}
.bdci-c{border-corner-image:continue;}
@mixin bdtli($var){border-top-left-image:$var;}
.bdtli-n{border-top-left-image:none;}
.bdtli-c{border-top-left-image:continue;}
@mixin bdtri($var){border-top-right-image:$var;}
.bdtri-n{border-top-right-image:none;}
.bdtri-c{border-top-right-image:continue;}
@mixin bdbri($var){border-bottom-right-image:($var)}
.bdbri-n{border-bottom-right-image:none;}
.bdbri-c{border-bottom-right-image:continue;}
@mixin bdbli($var){border-bottom-left-image:$var;}
.bdbli-n{border-bottom-left-image:none;}
.bdbli-c{border-bottom-left-image:continue;}
@mixin bdf($var){border-fit:$var;}
.bdf-c{border-fit:clip;}
.bdf-r{border-fit:repeat;}
.bdf-sc{border-fit:scale;}
.bdf-st{border-fit:stretch;}
.bdf-ow{border-fit:overwrite;}
.bdf-of{border-fit:overflow;}
.bdf-sp{border-fit:space;}
@mixin bdlt($var){border-length: $var;}
.bdlt-a{border-length:auto;}
@mixin bdsp($var){border-spacing: $var;}
@mixin bds{border-style: $var;}
.bds-n{border-style:none;}
.bds-h{border-style:hidden;}
.bds-dt{border-style:dotted;}
.bds-ds{border-style:dashed;}
.bds-s{border-style:solid;}
.bds-db{border-style:double;}
.bds-dtds{border-style:dot-dash;}
.bds-dtdtds{border-style:dot-dot-dash;}
.bds-w{border-style:wave;}
.bds-g{border-style:groove;}
.bds-r{border-style:ridge;}
.bds-i{border-style:inset;}
.bds-o{border-style:outset;}
@mixin bdw($width){border-width: $width;}
@mixin bdt($top){border-top: $top;}
.bdt-n{border-top:none;}
.bdt_{border-top: 1px solid #000;}
@mixin bdtw($var){border-top-width: $var;}
@mixin bdts($var){border-top-style: $var;}
.bdts-n{border-top-style:none;}
.bdtc{border-top-color:#000;}
@mixin bdr($var){border-right: $var;}
.bdr-n{border-right:none;}
.bdr_{border-right: 1px solid #000;}
@mixin bdrw($width){border-right-width: $width;}
@mixin bdrs($style){border-right-style: $style;}
.bdrs-n{border-right-style:none;}
.bdrc{border-right-color:#000;}
@mixin bdb($var){border-bottom: $var;}
.bdb-n{border-bottom:none;}
.bdb_{border-bottom: 1px solid #000;}
@mixin bdbw($var){border-bottom-width: $var;}
@mixin bdbs($var){border-bottom-style: $var;}
.bdbs-n{border-bottom-style:none;}
.bdbc{border-bottom-color:#000;}
@mixin bdl($var){border-left: $var;}
.bdl-n{border-left:none;}
.bdl_{border-left: 1px solid #000;}
@mixin bdlw($var){border-left-width: $var;}
@mixin bdls($var){border-left-style: $var;}
.bdls-n{border-left-style:none;}
.bdlc{border-left-color:#000;}
@mixin bdrs($var){border-radius: $var;}
@mixin bdrs-w($var){-webkit-border-radius: $var;}
@mixin bdrs-m($var){-moz-border-radius: $var;}
@mixin bdtrrs($var){border-top-right-radius: $var;}
@mixin bdtlrs($var){border-top-left-radius: $var;}
@mixin bdbrrs($var){border-bottom-right-radius: $var;}
@mixin bdblrs($var){border-bottom-left-radius: $var;}
@mixin bg($var){background: $var;}
.bg-n{background:none;}
@mixin bgc($color){background-color: $color;}
.bgc-t{background-color:transparent;}
@mixin bgi($var){background-image: $var;}
.bgi-n{background-image:none;}
@mixin bgr($var){background-repeat: $var;}
.bgr-r{background-repeat:repeat;}
.bgr-x{background-repeat:repeat-x;}
.bgr-y{background-repeat:repeat-y;}
.bgr-n{background-repeat:no-repeat;}
@mixin bga($var){background-attachment: $var;}
.bga-f{background-attachment:fixed;}
.bga-s{background-attachment:scroll;}
.bgp{background-position:0 0;}
@mixin bgp($var){background-position: $var;}
@mixin bgpx($var){background-position-x: $var;}
@mixin bgpy($var){background-position-y: $var;}
@mixin bgbk($var){background-break: $var;}
.bgbk-bb{background-break:bounding-box;}
.bgbk-eb{background-break:each-box;}
.bgbk-c{background-break:continuous;}
@mixin bgcp($var){background-clip:$var;}
.bgcp-bb{background-clip:border-box;}
.bgcp-pb{background-clip:padding-box;}
.bgcp-cb{background-clip:content-box;}
.bgcp-nc{background-clip:no-clip;}
@mixin bgo($var){background-origin: $var;}
.bgo-pb{background-origin:padding-box;}
.bgo-bb{background-origin:border-box;}
.bgo-cb{background-origin:content-box;}
@mixin bgz($var){background-size: $var;}
.bgz-a{background-size:auto;}
.bgz-ct{background-size:contain;}
.bgz-cv{background-size:cover;}
.c{color:#000;}
@mixin c($color){color: $color;}
@mixin tbl($var){table-layout: $var;}
.tbl-a{table-layout:auto;}
.tbl-f{table-layout:fixed;}
@mixin cps($var){caption-side: $var;}
.cps-t{caption-side:top;}
.cps-b{caption-side:bottom;}
@mixin ec($var){empty-cells: $var;}
.ec-s{empty-cells:show;}
.ec-h{empty-cells:hide;}
@mixin lis($var){list-style: $var;}
.lis-n{list-style:none;}
@mixin lisp($var){list-style-position: $var;}
.lisp-i{list-style-position:inside;}
.lisp-o{list-style-position:outside;}
@mixin list($var){list-style-type: $var;}
.list-n{list-style-type:none;}
.list-d{list-style-type:disc;}
.list-c{list-style-type:circle;}
.list-s{list-style-type:square;}
.list-dc{list-style-type:decimal;}
.list-dclz{list-style-type:decimal-leading-zero;}
.list-lr{list-style-type:lower-roman;}
.list-ur{list-style-type:upper-roman;}
@mixin lisi($var){list-style-image: $var;}
.lisi-n{list-style-image:none;}
@mixin q($var){quotes: $var;}
.q-n{quotes:none;}
.q-ru{quotes:'\00AB''\00BB''\201E''\201C';}
.q-en{quotes:'\201C''\201D''\2018''\2019';}
@mixin ct($var){content: $var;}
.ct-n{content:normal;}
.ct-oq{content:open-quote;}
.ct-noq{content:no-open-quote;}
.ct-cq{content:close-quote;}
.ct-ncq{content:no-close-quote;}
@mixin ct-a($var){content: attr($var);}
@mixin ct-c($var){content: counter($var);}
@mixin ct-cs($var){content: counters($var);}
@mixin coi($var){counter-increment:$var;}
@mixin cor($var){counter-reset:$var;}
@mixin va($var){vertical-align:$var;}

.va-sup{vertical-align:super;}
.va-t{vertical-align:top;}
.va-tt{vertical-align:text-top;}
.va-m{vertical-align:middle;}
.va-bl{vertical-align:baseline;}
.va-b{vertical-align:bottom;}
.va-tb{vertical-align:text-bottom;}
.va-sub{vertical-align:sub;}
@mixin ta($var){text-align: $var;}
.ta-l{text-align:left;}
.ta-c{text-align:center;}
.ta-r{text-align:right;}
.ta-j{text-align:justify;}
@mixin tal($var){text-align-last: $var;}
.tal-a{text-align-last:auto;}
.tal-l{text-align-last:left;}
.tal-c{text-align-last:center;}
.tal-r{text-align-last:right;}
@mixin td($var){text-decoration: $var;}
.td-n{text-decoration:none;}
.td-o{text-decoration:overline;}
.td-l{text-decoration:line-through;}
.td-u{text-decoration:underline;}
@mixin te($var){text-emphasis: $var;}
.te-n{text-emphasis:none;}
.te-ac{text-emphasis:accent;}
.te-dt{text-emphasis:dot;}
.te-c{text-emphasis:circle;}
.te-ds{text-emphasis:disc;}
.te-b{text-emphasis:before;}
.te-a{text-emphasis:after;}
@mixin th($height){text-height: $height;}
.th-a{text-height:auto;}
.th-f{text-height:font-size;}
.th-t{text-height:text-size;}
.th-m{text-height:max-size;}
@mixin ti($indent){text-indent: $indent;}
.ti--{text-indent:-9999px;}
@mixin tj($var){text-justify: $var;}
.tj-a{text-justify:auto;}
.tj-iw{text-justify:inter-word;}
.tj-ii{text-justify:inter-ideograph;}
.tj-ic{text-justify:inter-cluster;}
.tj-d{text-justify:distribute;}
.tj-k{text-justify:kashida;}
.tj-t{text-justify:tibetan;}
@mixin to($var){text-outline: $var;}
.to-n{text-outline:none;}
.to_{text-outline: 0 0 #000;}
@mixin tr($var){text-replace: $var;}
.tr-n{text-replace:none;}
@mixin tt($var){text-transform: $var;}
.tt-n{text-transform:none;}
.tt-u{text-transform:uppercase;}
.tt-c{text-transform:capitalize;}
.tt-l{text-transform:lowercase;}
@mixin tw($var){text-wrap: $var;}
.tw-n{text-wrap:normal;}
.tw-no{text-wrap:none;}
.tw-u{text-wrap:unrestricted;}
.tw-s{text-wrap:suppress;}
@mixin tsh($var){text-shadow: $var;}
.tsh-n{text-shadow:none;}
.tsh_{text-shadow: 0 0 0 #000;}
@mixin lh($height){line-height: $height;}
@mixin whs($var){white-space: $var;}
.whs-n{white-space:normal;}
.whs-p{white-space:pre;}
.whs-nw{white-space:nowrap;}
.whs-pw{white-space:pre-wrap;}
.whs-pl{white-space:pre-line;}
@mixin whsc($var){white-space-collapse: $var;}
.whsc-n{white-space-collapse:normal;}
.whsc-k{white-space-collapse:keep-all;}
.whsc-l{white-space-collapse:loose;}
.whsc-bs{white-space-collapse:break-strict;}
.whsc-ba{white-space-collapse:break-all;}
@mixin wob($var){word-break: $var;}
.wob-n{word-break:normal;}
.wob-k{word-break:keep-all;}
.wob-l{word-break:loose;}
.wob-bs{word-break:break-strict;}
.wob-ba{word-break:break-all;}
@mixin wos($var){word-spacing: $var;}
@mixin wow($var){word-wrap: $var;}
.wow-n{word-wrap:normal;}
.wow-no{word-wrap:none;}
.wow-u{word-wrap:unrestricted;}
.wow-s{word-wrap:suppress;}
@mixin lts($var){letter-spacing: $var;}
@mixin f($var){font: $var;}
@mixin fw($dist){font-weight: $dist;}
.fw-n{font-weight:normal;}
.fw-b{font-weight:bold;}
.fw-br{font-weight:bolder;}
.fw-lr{font-weight:lighter;}
@mixin fs($var){font-style: $var;}
.fs-n{font-style:normal;}
.fs-i{font-style:italic;}
.fs-o{font-style:oblique;}
@mixin fv($var){font-variant: $var;}
.fv-n{font-variant:normal;}
.fv-sc{font-variant:small-caps;}
@mixin fz($size){font-size: $size;}
@mixin fza($var){font-size-adjust: $var;}
.fza-n{font-size-adjust:none;}
@mixin fef($var){font-effect: $var;}
.fef-n{font-effect:none;}
.fef-eg{font-effect:engrave;}
.fef-eb{font-effect:emboss;}
.fef-o{font-effect:outline;}
@mixin fem($var){font-emphasize: $var;}
@mixin femp($var){font-emphasize-position: $var;}
.femp-b{font-emphasize-position:before;}
.femp-a{font-emphasize-position:after;}
@mixin fems($var){font-emphasize-style: $var;}
.fems-n{font-emphasize-style:none;}
.fems-ac{font-emphasize-style:accent;}
.fems-dt{font-emphasize-style:dot;}
.fems-c{font-emphasize-style:circle;}
.fems-ds{font-emphasize-style:disc;}
@mixin fsm($var){font-smooth: $var;}
.fsm-a{font-smooth:auto;}
.fsm-n{font-smooth:never;}
.fsm-aw{font-smooth:always;}
@mixin fst($var){font-stretch: $var;}
.fst-n{font-stretch:normal;}
.fst-uc{font-stretch:ultra-condensed;}
.fst-ec{font-stretch:extra-condensed;}
.fst-c{font-stretch:condensed;}
.fst-sc{font-stretch:semi-condensed;}
.fst-se{font-stretch:semi-expanded;}
.fst-e{font-stretch:expanded;}
.fst-ee{font-stretch:extra-expanded;}
.fst-ue{font-stretch:ultra-expanded;}
@mixin op($var){opacity: $var;}
@mixin rz($var){resize: $var;}
.rz-n{resize:none;}
.rz-b{resize:both;}
.rz-h{resize:horizontal;}
.rz-v{resize:vertical;}
@mixin cur($var){cursor: $var;}
.cur-a{cursor:auto;}
.cur-d{cursor:default;}
.cur-c{cursor:crosshair;}
.cur-ha{cursor:hand;}
.cur-he{cursor:help;}
.cur-m{cursor:move;}
.cur-p{cursor:pointer;}
.cur-t{cursor:text;}
@mixin pgbb($var){page-break-before: $var;}
.pgbb-a{page-break-before:auto;}
.pgbb-aw{page-break-before:always;}
.pgbb-l{page-break-before:left;}
.pgbb-r{page-break-before:right;}
@mixin pgbi($var){page-break-inside: $var;}
.pgbi-a{page-break-inside:auto;}
.pgbi-av{page-break-inside:avoid;}
@mixin pgba($var){page-break-after: $var;}
.pgba-a{page-break-after:auto;}
.pgba-aw{page-break-after:always;}
.pgba-l{page-break-after:left;}
.pgba-r{page-break-after:right;}
@mixin orp($var){orphans: $var;}
@mixin wid($var){widows: $var;}
@mixin ff($var){font-family: $var;}
.ff-s{font-family:Georgia,'Times New Roman',serif;}
.ff-ss{font-family:Helvetica,Arial,sans-serif;}
.ff-c{font-family:'Monotype Corsiva','Comic Sans MS',cursive;}
.ff-f{font-family:Capitals,Impact,fantasy;}
.ff-m{font-family:Monaco,'Courier New',monospace;}
